body {
  margin: 0;
  background-color: #383838;
  color: white;
  font-family: "Lato", sans-serif;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.startScreen{
  display:flex;
  justify-content: center;
  align-items: center;
}

.startScreen .content{
  background-color:#383838;
  display:flex;
  flex-direction: column;
  width: 100%;
}

.startScreenbutton{
  background-color: #555;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:1rem;
  margin:1rem;
  width: 30%;
  cursor: pointer;
}
.startScreenbutton * {
  padding: 0.3rem;
}
.gameScreen{
  display:none;
}

.documentation{
  font-size: 1rem;
  padding:1em;
  color:white;
  background-color: #555;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555555;
}

.killed{
  padding:2rem;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 1px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.sprite {
  height: 50px;
  width: 50px;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #888;
}

.active {
  background-color: rgb(170, 250, 187);
}

.kill {
  background-color: rgb(250, 170, 170);
}

.dead {
  height: 50px;
  width: 50px;
}
